* {
  box-sizing: border-box;
}

@font-face {
  font-family: Patrick;
  src: url(../fonts/PatrickHand-Regular.ttf);
}

@font-face {
  font-family: Stint;
  src: url(../fonts/StintUltraCondensed-Regular.ttf);
}

html {
  font-size: 62.5%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #e3e3e3;
  width: 100%;
  height: 100%;
}

body.rtl {
  direction: rtl;
}

.select-lang {
  position: absolute;
  right: 0;
  top: 0;
}

a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
  /* flex-basis: 50%; */
}

.my-canvas {
  display: block;
  margin: 0 auto;
  padding: 0 1rem 1rem;
}

.main-header {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #df9100;
}

.links-container a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2.4rem;
  padding: 1rem;
  transition: all 0.3s;
}

.links-container a:hover,
.btn:hover {
  color: #cccccc;
}

.logo {
  width: 130px;
  padding-inline-start: 2rem;
}

.main-header .logo {
  padding: 7rem 1rem;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
  background-color: #e3e3e3;
  max-width: 1200px;
  margin: 1rem auto;
  padding-inline-start: 3rem;
  border-radius: 10px;
}

.properties-container {
  width: 50%;
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 5rem;
  background-color: #df9100;
}

.copyrights {
  font-size: 1.6rem;
  color: white;
}

.gallery-img {
  cursor: pointer;
  margin: 0.2rem;
}

.gallery-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.memes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gallery-container {
  max-width: 1200px;
  margin: 1.5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #e3e3e3;
  margin-bottom: 2rem;
}

.input-container {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.input-text {
  background-color: #fff;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
}

.txt-input {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#meme-text {
  width: 100%;
  background: none;
  outline: none;
  border: none;
}

.gallery-input {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  color: #df9100;
  font-size: 1.8rem;
  border-radius: 10px;
  border-bottom: 2px solid black;
  border: none;
  outline: none;
  padding-inline-start: 1rem;
  background-color: rgb(235, 235, 235);
}

.gallery-filter {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  padding: 3rem;
  background-color: #fff;
}

.btn-color {
  position: relative;
}

.color-input {
  opacity: 0;
  position: absolute;
  left: 0;
}

::placeholder {
  font-size: 1.8rem;
}

.img {
  width: 20px;
}

.text-properties {
  display: flex;
  flex-direction: column;
  margin: 0 auto 2rem;
  width: 100%;
  justify-content: space-around;
}

.btns-text-align {
  display: block;
  width: 100%;
}

.btns-text-color {
  display: flex;
  justify-content: space-around;
  margin-block: 1rem;
}

.text-move {
  display: flex;
  align-items: center;
  margin: 0 auto 2rem;
  width: 80%;
  justify-content: space-around;
}

.share-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.main-layout {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #e3e3e3;
}

.btn {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
  padding: 1rem 1.2rem;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  margin-inline: 1rem;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.btn-up,
.btn-down {
  padding-inline: 1.6rem;
}

.btn-share,
.btn-download {
  color: #fff;
  background-color: #df9100;
}

.btns-text-modify {
  margin: 3rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.words-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-filter {
  cursor: pointer;
  font-size: 1.7rem;
  margin-inline: 0.5rem;
  font-weight: 400;
  color: #000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bigger {
  font-size: 2.3rem;
}

.share-hidden {
  border: none;
  outline: none;
  visibility: hidden;
  background-color: #4267b2;
}

.form-share {
  display: flex;
}

select[name='txt-font'] {
  border-radius: 10px;
}

.btn-menu {
  width: 30px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1200px) {
  .main-content {
    max-width: 1000px;
  }

  .text-properties {
    display: block;
    width: 100%;
  }

  .btns-text-color {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
  }

  select[name='txt-font'],
  .btn-color {
    margin: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 1024px) {
  .main-content {
    max-width: 950px;
  }

  .canvas-container {
    width: 400px;
    height: 400px;
  }

  .btns-text-modify {
    margin: 1rem;
  }

  .btns-text-align {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-start: 3rem;
  }

  .btns-text-color {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  select[name='txt-font'],
  .btn-color {
    margin: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 950px) {
  .main-content {
    max-width: 800px;
  }

  .input-container {
    margin-bottom: 0.1rem;
  }

  .text-properties {
    width: 250px;
    margin: 0 auto 1rem;
    flex-wrap: wrap;
  }

  .btn-bigger,
  .btn-smaller,
  select {
    margin-bottom: 1rem;
  }

  .canvas-container {
    width: 350px;
  }

  ::placeholder {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .gallery-container {
    max-width: 700px;
  }

  .canvas-container {
    width: 300px;
    height: 300px;
  }

  .properties-container {
    margin-inline-start: 2rem;
  }

  .btns-text-modify {
    margin: 1rem;
  }

  .btns-text-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btns-text-color {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  select[name='txt-font'],
  .btn-color {
    margin: 0;
    padding: 1rem;
  }

  .btn {
    margin: 0.5rem;
  }

  .main-content {
    align-items: center;
  }

  .properties-container {
    margin-bottom: 1rem;
  }
}

@media (max-width: 660px) {
  .main-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    padding: 0;
  }

  .input-text {
    width: 300px;
  }

  .text-properties {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .btns-text-align {
    display: flex;
    align-items: center;
    margin-block: 1rem;
  }

  .btns-text-color {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .btn {
    margin: 1rem;
  }

  .canvas-container {
    width: 300px;
    height: 300px;
  }

  .properties-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btns-text-modify {
    margin-top: 1rem;
  }

  .gallery-container {
    max-width: 500px;
  }

  .gallery-filter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ::placeholder {
    text-align: center;
  }
}

@media (max-width: 450px) {
  body {
    overflow-x: hidden;
  }
  .links-container {
    padding-top: 3rem;
    right: 0;
    top: 7rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 50vh;
    width: 200px;
    background-color: #707070f3;
    position: fixed;
    transform: translateX(150%);
    transition: all 0.6s;
  }

  .links-container-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(0);
  }

  .select-lang {
    right: 35%;
    top: 0.5rem;
  }

  .btn-menu {
    display: block;
    margin-inline: 1rem;
    pointer-events: all;
  }

  .btn-menu-hide {
    opacity: 0;
    pointer-events: none;
  }

  .words-container {
    flex-wrap: wrap;
  }
}
